<div class="topic-new-wrapper" >
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <h1 class="text-center">新規投稿</h1>
          <%= form_for @topic do |f| %>

            <% if @topic.errors.any? %>
              <div id="error_explanation">
                <ul>
                  <% @topic.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                  <% end %>
                </ul>
              </div>
            <% end %>

            <div class="form-group">
              <%= f.label :image, 'image(任意)' %>
              <%= f.file_field :image %>
            </div>
  
            <div class="form-group">
              <%= f.label :description, "description(必須)" %>
              <%= f.text_area :description, class: 'form-control' %>
            </div>

            <div class="form-group">
              <%= f.label :password, 'password(任意)' %>
              <%= f.password_field :password, class: 'form-control', id: 'password' %>
              <%= button_tag 'パスワードを生成する', id: 'auto-fill-link', type: "button" %>
            </div>
  
            <%= f.submit '投稿', class: 'btn btn-black btn-block' %>
  
          <% end %>
      </div>
    </div>
  </div>
</div>
  
<script>
  $(function(){
    autoFill();
    function autoFill() {
      $('#auto-fill-link').click(function(){
        $('#password').val("<%= @password %>");
      });
    }
  })
</script>