<div class="topic-index-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="topic-index-single">

          <h2 class="topic-author">
            <%= link_to @topic.user.name, user_path(@topic.user.id) %>
          </h2>

          <% if @topic.image.attached? %>
            <%= image_tag @topic.image %>
          <% end %>
 
              <ul class="comments-likes">
                <li><i class="far fa-comment-dots like-btn"></i></li>
                <% if logged_in? %>
                  <li id="likes_buttons_<%= @topic.id %>"><%= render partial: 'like_for_show', locals: { topic: @topic} %></li>
                <% else %>
                  <li><i class="far fa-heart like-btn" ></i></li>
                <% end %>
              </ul>

          <div class="topic-text">
            <%= simple_format(@topic.description) %>
          </div>

          <div class="created-destroy">
            <div class="text-left" >
              <%= l @topic.created_at %><br>
            </div>
  
            <% if logged_in? %>
              <% if @topic.user_id == current_user.id %>
              <div class="text-right" >
                <%= link_to '削除', "#{@topic.id}/destroy", method: :delete %>
              </div>
              <% end %>
            <% end %>
          </div>
          <hr>

          <div class="main-comment">
            <ul class="comment-button">
              <li><i class="far fa-comment-dots like-btn"></i><li>
              <li class="comment-letter">コメント</li>
            </ul>
            
            <div id="comment-area">
              <%= render partial: "comments/comment", locals: { comments: @comments } %>
            </div>
  
            <% if logged_in? %>
              <%= render partial: "comments/form", locals: { comment: @comment, topic: @topic } %>
            <% end %>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>