<div class="users-new-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-4 col-md-4 users-new-container">
        <h1 class="text-center text-white"> サインアップ</h1>
        <%= form_for @user do |f| %>
        
          <% if @user.errors.any? %>
            <div id="error_explanation">
              <ul>
                <% @user.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
               </ul>
            </div>
          <% end %>

          <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :email %>
            <%= f.text_field :email, class: 'form-control' %>
          </div>
          <div class="form-group">
            <%= f.label :password %>
            <%= f.password_field :password, class: 'form-control' %>
            <div class="password-eye">
              <span class="fas fa-eye-slash"></span>
            </div>
          </div>
          <%= f.submit "登録", class: 'btn-block' %>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script>
  function eyeslashClick(){
    $(".fa-eye-slash").on("click", function(){
      $(".fa-eye").off("click")
      let input = $(this).parents(".form-group").find("input");
      input.attr("type", "text");
      $(this).removeClass();
      $(this).addClass("fas fa-eye");
      eyeClick();
    });
  }
  function eyeClick(){
    $(".fa-eye").on("click", function(){
      $(".fa-eye-slash").off("click")
      let input = $(this).parents(".form-group").find("input");
      input.attr("type", "password");
      $(this).removeClass();
      $(this).addClass("fas fa-eye-slash");
      eyeslashClick();
    });
  }
  eyeslashClick();
  eyeClick();
</script>