<div class="container">
  <div class="card">
    <div class="card-header">
      <div class="card-header__avatar"><%= image_tag 'person.png', class: "avatar_img" %></div>
      <!--follow-->
      <!--<a class="card-header__follow" href="#">Follow</a>-->
    </div>

    <div class="card-content">
      <div class="card-content__username"><%= link_to @user.name, edit_user_path %></div>
    </div>

    <div class="card-footer">
      <div class="card-footer__topics"> 
        <a href="#my-topics" class='secList'>
          <div class="et_pb_module">
            <%= @user_topics %>
            <div class="label">Topics</div>
          </div>
        </a>
      </div>

      <div class="card-footer__likes">
         <a href="#my-likes" class='secList'>
           <div class="et_pb_module">
              <%= @user_likes %>
              <div class="label">Likes</div>
            </div>
          </a>
      </div>
      
      <div class="card-footer__comments">
        <a href="#my-comments" class='secList'>
          <div class="et_pb_module">
            <%= @user_comments %>
            <div class="label">Comments</div>
          </div>
        </a>
      </div>

    </div>
  </div>
</div>

<div class="mypage-footer">
  <div id="my-topics" class="section">
    <div class="et_pb_text_inner1">
      <%= render partial: 'topics', locals: { topics: @my_topics } %>
    </div>  
  </div>
  
  <div id="my-likes" class="section">
    <div class="et_pb_text_inner2">
      <%= render partial: 'topics', locals: { topics: @my_likes } %>
    </div>
  </div>
  
  <div id="my-comments" class="section">
    <div class="et_pb_text_inner3">
      <%= render partial: 'topics', locals: { topics: @my_comments } %>
    </div>  
  </div>
</div>
  
</div>

<script>
$(function(){
  $('.section').hide();
  
  $('.secList').on('click',function(){   
    $('.section').not($($(this).attr('href'))).hide();
    $($(this).attr('href')).fadeToggle(0);
  });
});
</script>