<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/meta' %>
  </head>

  <%= render 'layouts/header' %>
  
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %>" role="alert"><%= value %></div>
  <% end %>

  <%= yield %>

  <script>
    $(function(){
      $(".alert").fadeOut(2500);
    });
  </script>
  
  </body>
</html>
