<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/meta' %>
  </head>

  <body data-spy="scroll" data-offset="80" data-target="#thenavbar">
    <%= render 'layouts/header' %>
    
    <!-- flash -->
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %>" role="alert"><%= value %></div>
    <% end %>

    <%= yield %>

    <script>
      $(function(){
        $(".alert").fadeOut(5000);
      });
    
      (function() {
        this.App || (this.App = {});
      
        App.cable = ActionCable.createConsumer();
      
      }).call(this);
    </script>
    
  </body>
</html>
